.FPBox {
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 2.042vw;
    width: 40%; /* Set a fixed width for the login box */
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center; /* Center content vertically within the box */
    align-items: center; /* Center content horizontally within the box */
    margin: 0 auto; /* Shorthand for margin-top: 0; margin-bottom: 0; margin-left: auto; margin-right: auto; */
    margin-top: 8.125vw; /* This will be applied after centering */
}

.FPBoxTitle {
    padding-bottom: 1.042vw;
    display: flex; /* Enable flexbox for the title */
    justify-content: flex-start; /* Align content to the left */
    align-items: center; /* Align items vertically */
}

.FPBack {
    font-size: 1.4208rem; /* Adjust font size for " < Back " text */
    color: #94d4ca; /* Adjust color as needed */
    font-family: sans-serif;
    margin-right: 2.3605vw; /* Add some margin for spacing */
    float: left;
    flex-grow: 0; /* Prevent "< Back" from growing */
    margin-top: 0.2663vw;
    font-weight: bold;
    cursor: pointer;
    &:hover

{
    color: #5bbeaf;
}

}

.FPBoxItem {
    text-align: center; /* Center text within the FPBoxItems container */
    margin-bottom: 0.2605vw;
}

.FPTextBox {
    margin-top: 1.5625vw;
    width: 21.875vw; /* Changed to viewport width */
    background-color: #f5f5f5;
    border-radius: 0.625vw; /* Changed to viewport width */
    box-shadow: 0 0.104vw 0.260vw rgba(0, 0, 0, 0.1); /* Changed to viewport width */
    padding: 1.5vh 3vw; /* Changed to viewport width */
    border: 1px solid black; /* Changed to viewport width */
    font-family: sans-serif;
    &:hover

{
    background-color: #e6e6e6;
    border: 1px solid #b3b3b3;
}
}

.FPConfirmButton {
    padding-bottom: 0.521vw;
    margin-top: 1.083vw;
}
