.size-chart tbody > :nth-child(odd) {
    background-color: rgb(255, 255, 255);
}

.size-chart thead th {
    background-color: rgb(255, 220, 227);
    font-weight: bold;
    width: 12ch;
}

.size-chart tr :first-child {
    text-align: center;
    position: sticky;
    left: 0;
    background-color: rgb(255, 220, 227);
    width: 12ch;
    font-weight: bold;
}

.image-modal {
    display: none;
    position: fixed;
    z-index: 98;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(143, 143, 143, 0.8);
}

.image-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 80%;
    max-width: 700px;
}

.image-modal-content {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

.close-modal {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 60px;
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
    transition: 0.1s;
    cursor: pointer;
}

    .close-modal:hover,
    .close-modal:active {
        color: whitesmoke;
        text-shadow: 0px 0px 10px black;
    }

.opacity,
.hover-opacity:hover {
    opacity: 0.6;
}

.opacity-off,
.hover-opacity-off:hover {
    opacity: 1;
}

.opacity.hover-opacity-off.opacity-off {
    border: 2px solid #000;
    border-radius: 5px;
}

.selectedColor, .selectedSize {
    box-shadow: 0 0 0 2px whitesmoke, 0 0 0 4px black;
}

.selectedSize {
    min-height: 2.5rem;
    min-width: 5rem;
    display: inline-block;
    border-radius: 1px;
    text-align: center;
    padding: 10px 8px;
}

.datapagerStyle {
    padding: 8px 12px;
    margin: 0 3px;
    border: 1px solid black;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    cursor: pointer;
}

    .datapagerStyle:hover,
    .active {
        padding: 8px 12px;
        margin: 0 3px;
        border: 1px solid black;
        border-radius: 4px;
        background-color: black;
        color: #fff;
    }

.buttonDisabled {
    min-height: 3rem !important;
    text-align: center;
    padding: 10px 10px;
    background-color: #f0f0f0; /* Light grey */
    color: #999999; /* Lighter grey for text */
    border: 2px solid #cccccc; /* Light grey border */
    cursor: not-allowed;
    opacity: 0.7; /* Reduced opacity */
    transition: opacity 0.3s ease; /* Smooth transition */
    border-radius: 3.5px;
}

.buttonColorDisabled {
    cursor: not-allowed;
    opacity: 0.9; /* Adjust opacity as needed */
    height: 2.25rem; /* Equivalent to h-9 */
    width: 2.25rem; /* Equivalent to w-9 */
    border-radius: 9999px; /* Equivalent to rounded-full */
    background-color: #cccccc; /* Add a light gray background color */
    color: #999999; /* Add a slightly darker gray text color */
    border: 1px solid #999999; /* Add a border with a darker gray color */
    transition: opacity 0.3s ease; /* Add a smooth transition effect for opacity */
}

    /* Add a hover effect */
    .buttonColorDisabled:hover {
        opacity: 1; /* Make the button fully opaque on hover */
    }


.ratingStar i {
    border-radius: 0.5rem; /* rounded-lg */
    background-color: #000; /* bg-black */
    padding: 0.5rem; /* p-2 */
    font-size: 1.125rem; /* text-lg */
    color: #f3e100; /* text-yellow-300 */
}

.btnSorting {
    cursor: pointer;
    border: 1px solid #000;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: all 0.2s ease-in-out;
}

.clicked {
    background-color: black !important;
    color: white;
}

.not-clicked {
    background-color: transparent !important;
    color: black;
}
