.RPBox {
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 0.052vw 0.1305vw rgba(0, 0, 0, 0.1);
    padding: 2.2605vw;
    width: 30%; /* Set a fixed width for the login box */
    margin: 0 auto;
    margin-top: 6.875vw;
    margin-bottom: 6.875vw;
}

.RPBoxTitle {
    padding-bottom: 0.521vw;
    font-family: sans-serif;
    font-size: 1.5625rem;
    color: black;
    font-weight: bold;
}

.RPBoxItem {
    padding-bottom: 1.78125vw;
}

.RPTextBox {
    width: 100%; /* Changed to viewport width */
    background-color: #f5f5f5;
    border-radius: 0.625vw; /* Changed to viewport width */
    box-shadow: 0 0.104vw 0.260vw rgba(0, 0, 0, 0.1); /* Changed to viewport width */
    padding: 1.5vh 3vw; /* Changed to viewport width */
    border: 1px solid black; /* Changed to viewport width */
    font-family: sans-serif;
    &:hover

{
    background-color: #e6e6e6;
    border: 1px solid #b3b3b3;
}

}

.RPBoxButton {
    padding-top: 0.521vw;
    padding-bottom: 0.052vw;
    margin-top: 0.417vw; /* Changed to viewport width */
}
