.column1 {
    float: left;
    width: 40%;
    padding: 10px;
    background-color: #f5f5f5;
}

.column2 {
    float: left;
    width: 60%;
    padding: 10px;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url('../../../../images/login-img/login-background6.jpg');
}



.column1,
.column2 {
    height: 100vh;
}

.rightBox {
    float: left;
    margin: 30px;
    margin-top: 60px;
    margin-bottom: 0px;
    padding: 40px;
    padding-bottom: 30px;
}

.title {
    font-family: sans-serif;
    color: black;
    font-weight: bold;
    font-size: 50px;
    width: 100%;
}

.title2 {
    font-family: sans-serif;
    color: grey;
    font-weight: bold;
    font-size: 30px;
    width: 100%;
}

.loginBoxItem {
    margin-top: 30px;
    margin-bottom: 40px;
}

.loginTextBox {
    width: 350px;
    background-color: #f5f5f5;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 0.50rem 3.0rem;
    border: 1px solid black;
    font-family: sans-serif;
    &:hover

{
    background-color: #e6e6e6;
    border: 1px solid #b3b3b3;
}

}

.loginBoxButton {
    padding-bottom: 2px;
}

.loginButton {
    width: 100%;
    border-radius: 30px;
    padding: 10px;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    border: 1px solid #f5f5f5;
    margin-top: 10px;
    cursor: pointer;
    /* Styles for hover state */
    &:hover

{
    color: #94d4ca;
    border: 1px solid #bfbfbf;
}

.loginBoxFP {
    font-family: sans-serif; /* Default in Tailwind */
    font-size: 1.5rem;
    color: blue;
    cursor: pointer;
}

    .loginBoxFP:hover {
        color: darkblue;
    }
