body {
}

.FPBox {
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    width: 450px; /* Set a fixed width for the login box */
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center; /* Center content vertically within the box */
    align-items: center; /* Center content horizontally within the box */
    margin: 0 auto; /* Shorthand for margin-top: 0; margin-bottom: 0; margin-left: auto; margin-right: auto; */
    margin-top: 100px; /* This will be applied after centering */
}

.FPBoxTitle {
    padding-bottom: 40px;
    display: flex; /* Enable flexbox for the title */
    justify-content: flex-start; /* Align content to the left */
    align-items: center; /* Align items vertically */
}

.FPBack {
    font-size: 16px; /* Adjust font size for " < Back " text */
    color: #94d4ca; /* Adjust color as needed */
    font-family: sans-serif;
    margin-right: 10px; /* Add some margin for spacing */
    float: left;
    flex-grow: 0; /* Prevent "< Back" from growing */
    margin-top: 6px;
    font-weight: bold;
    cursor: pointer;
    &:hover

{
    color: #5bbeaf;
}

}

.FPBoxItem {
    text-align: center; /* Center text within the FPBoxItems container */
    margin-bottom: 10px;
}

.FPTextBox {
    width: 100%;
    background-color: #f5f5f5;
    border: 1px solid #bfbfbf;
    border-radius: 20px;
    padding: 0.50rem 1.5rem;
    font-family: sans-serif;
    margin-top: 30px;
    &:hover

{
    background-color: #e6e6e6;
    border: 1px solid #b3b3b3;
}

}

.FPButton {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 30px;
    padding: 0.50rem 1rem;
    font-family: sans-serif;
    color: whitesmoke;
    font-weight: bold;
    border: 1px solid #f5f5f5;
    cursor: pointer;
    /* Styles for hover state */
    &:hover

{
    color: #94d4ca;
}
}

