body {
}

.RPBox {
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 400px; /* Set a fixed width for the login box */
    margin: 0 auto;
    margin-top: 130px;
}

.RPBoxTitle {
    padding-bottom: 20px;
    font-family: sans-serif;
    font-size: 30px;
    color: black;
    font-weight: bold;
}

.RPBoxItem {
    padding-bottom: 30px;
}

.RPTextBox {
    width: 100%;
    background-color: #f5f5f5;
    border: 1px solid #bfbfbf;
    border-radius: 20px;
    padding: 0.50rem 1rem;
    font-family: sans-serif;
    &:hover

{
    background-color: #e6e6e6;
    border: 1px solid #b3b3b3;
}

}

.RPBoxButton {
    padding-top: 20px;
    padding-bottom: 2px;
}

.RPButton {
    width: 100%;
    border-radius: 30px;
    padding: 0.50rem 1rem;
    font-family: sans-serif;
    color: whitesmoke;
    font-weight: bold;
    border: 1px solid #f5f5f5;
    margin-bottom: 30px;
    cursor: pointer;
    /* Styles for hover state */
    &:hover

{
    color: #94d4ca;
}
}
