body {
}

.column1 {
    float: left;
    width: 39.66%;
    padding: 10px;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url('../../../../images/login-img/login-background8.jpg');
}

.column2 {
    float: left;
    width: 60.33%;
    padding: 10px;
    background-color: #f5f5f5;
}

.column1,
.column2 {
    height: 100vh;
}

.rightBox {
    float: left;
    margin: 30px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding:40px;
    padding-bottom: 30px;
    padding-top: 20px;
}

.title {
    font-family: sans-serif;
    color: black;
    font-weight: bold;
    font-size: 50px;
    width: 100%;
}

.nextLine {
    width: 100%;
    margin-bottom: 40px
}

.title2 {
    font-family: sans-serif;
    color: black;
    font-size: 20px;
    width: 100%;
    margin-top: 20px;
}

.SUBoxItem {
    padding-bottom: 30px;
    width: 50%;
    margin-right: 27px;
}

.SUTextBox {
    width: 100%;
    background-color: #f5f5f5;
    border: 1px solid black;
    border-radius: 15px;
    padding: 0.50rem 3.5rem;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    &:hover

{
    background-color: #e6e6e6;
    border: 1px solid #b3b3b3;
}
}

.SUTextBox2 {
    width: 92%;
    background-color: #f5f5f5;
    border: 1px solid black;
    border-radius: 15px;
    padding: 0.50rem 3.5rem;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    &:hover

{
    background-color: #e6e6e6;
    border: 1px solid #b3b3b3;
}
}

.SUBoxButton {
    padding-bottom: 2px;
}

.SUButton {
    width: 46%;
    border-radius: 30px;
    padding: 0.50rem 1rem;
    font-family: sans-serif;
    color: whitesmoke;
    font-weight: bold;
    border: 1px solid #f5f5f5;
    margin-top: 20px;
    margin-left: 170px;
    cursor: pointer;
    /* Styles for hover state */
    &:hover

{
    color: #94d4ca;
    border: 1px solid #bfbfbf;
}