<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <httpRuntime targetFramework="4.7.2"/>
    <!-- Site Map Configure -->
    <siteMap defaultProvider="clientSiteMap">
      <providers>
        <add name="clientSiteMap" type="System.Web.XmlSiteMapProvider" siteMapFile="~/src/Client/Client.sitemap"/>
        <add name="adminSiteMap" type="System.Web.XmlSiteMapProvider" siteMapFile="~/src/Admin/Admin.sitemap"/>
      </providers>
    </siteMap>
    <!-- TODO: CHANGE THE MODE TO `ON` AFTERWARDS  -->
    <customErrors mode="RemoteOnly" defaultRedirect="~/src/ErrorPages/500.aspx" redirectMode="ResponseRewrite">
      <error statusCode="403" redirect="~/src/ErrorPages/403.aspx"/>
      <error statusCode="404" redirect="~/src/ErrorPages/404.aspx"/>
      <error statusCode="404" redirect="~/src/ErrorPages/404.aspx"/>
    </customErrors>
    <!--Remain the position of page after postback-->
    <pages maintainScrollPositionOnPostBack="true"/>
    <compilation debug="true"/>
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true"/>
    <httpErrors errorMode="DetailedLocalOnly" existingResponse="Auto">
      <remove statusCode="403"/>
      <remove statusCode="404"/>
      <remove statusCode="500"/>
      <error statusCode="403" responseMode="ExecuteURL" path="~/src/ErrorPages/403.aspx"/>
      <error statusCode="404" responseMode="ExecuteURL" path="~/src/ErrorPages/404.aspx"/>
      <error statusCode="500" responseMode="ExecuteURL" path="~/src/ErrorPages/500.aspx"/>
    </httpErrors>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
  </system.webServer>
  <!-- Database Connection -->
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\OutModern.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>